################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Exam_2020_2021_winter/v16
/.vs
/Renat_Rahmatullaev_201-352/.vs/Renat_Rahmatullaev_201-352/v16/ipch/AutoPCH/b9e8e04cfc27f330
/Renat_Rahmatullaev_201-352/.vs/Renat_Rahmatullaev_201-352/v16/ipch/AutoPCH/1c369d26939a0a34
/Renat_Rahmatullaev_201-352/.vs/Renat_Rahmatullaev_201-352/v16
/Renat_Rahmatullaev_201-352/Debug/Renat_Ra.c6e8813f.tlog
/Renat_Rahmatullaev_201-352/Debug
