################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Letov 201-351/.vs/Letov 201-351/v16/Browse.VC.opendb
