################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/201_352_Grebennikov_M/.vs/201_352_Grebennikov_M/v16
